<form #EventForm="ngForm" (ngSubmit)="onSubmit(EventForm)">
  <h2>Add new event:</h2>

  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" [(ngModel)]="model.title" class="form-control" id="txtTitle" name="txtTitle"
      aria-describedby="emailHelp" placeholder="Enter title">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" [(ngModel)]="model.description" class="form-control" id="txtDescription" name="txtDescription"
      placeholder="Enter description">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Date</label>
    <input type="text" [(ngModel)]="model.date" class="form-control" id="txtDate" name="txtDate"
      aria-describedby="emailHelp" placeholder="Enter date">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">IMG url</label>
    <input type="text" [(ngModel)]="model.image" class="form-control" id="txtImg" name="txtImg"
      aria-describedby="emailHelp" placeholder="Enter Img url">
  </div>

  <p class="text-danger">{{errorMessage}}</p>
  <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
</form>